p {
    text-indent: 1.5em;
    margin-top: 40px;
}

img {
    margin-top: 40px;
}

ul {
    margin-bottom: 40px;
}

.side-by-side .left-side {
    width: 50%;
    float: left;
}

.side-by-side .right-side {
    width: 50%;
    float: right;
}

.strikethrough {
    text-decoration: line-through;
}